<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0101</key>
	<true/>
	<key>0102</key>
	<true/>
	<key>0127</key>
	<true/>
	<key>0128</key>
	<true/>
	<key>0129</key>
	<true/>
	<key>0130</key>
	<true/>
	<key>0131</key>
	<true/>
	<key>0201</key>
	<true/>
	<key>0202</key>
	<true/>
	<key>0204</key>
	<false/>
	<key>0401</key>
	<false/>
	<key>0402</key>
	<true/>
	<key>0403</key>
	<true/>
	<key>0404</key>
	<true/>
	<key>0429</key>
	<true/>
	<key>0430</key>
	<true/>
	<key>0501</key>
	<true/>
	<key>0527</key>
	<false/>
	<key>0528</key>
	<true/>
	<key>0529</key>
	<true/>
	<key>0530</key>
	<true/>
	<key>0930</key>
	<false/>
	<key>1001</key>
	<true/>
	<key>1002</key>
	<true/>
	<key>1003</key>
	<true/>
	<key>1004</key>
	<true/>
	<key>1005</key>
	<true/>
	<key>1006</key>
	<true/>
	<key>1007</key>
	<true/>
	<key>1008</key>
	<true/>
</dict>
</plist>
