<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0101</key>
	<true/>
	<key>0211</key>
	<false/>
	<key>0215</key>
	<true/>
	<key>0216</key>
	<true/>
	<key>0217</key>
	<true/>
	<key>0218</key>
	<true/>
	<key>0219</key>
	<true/>
	<key>0220</key>
	<true/>
	<key>0221</key>
	<true/>
	<key>0224</key>
	<false/>
	<key>0405</key>
	<true/>
	<key>0406</key>
	<true/>
	<key>0407</key>
	<true/>
	<key>0408</key>
	<false/>
	<key>0428</key>
	<false/>
	<key>0429</key>
	<true/>
	<key>0430</key>
	<true/>
	<key>0501</key>
	<true/>
	<key>0616</key>
	<true/>
	<key>0617</key>
	<true/>
	<key>0618</key>
	<true/>
	<key>0922</key>
	<true/>
	<key>0923</key>
	<true/>
	<key>0924</key>
	<true/>
	<key>0929</key>
	<false/>
	<key>0930</key>
	<false/>
	<key>1001</key>
	<true/>
	<key>1002</key>
	<true/>
	<key>1003</key>
	<true/>
	<key>1004</key>
	<true/>
	<key>1005</key>
	<true/>
	<key>1006</key>
	<true/>
	<key>1007</key>
	<true/>
</dict>
</plist>
